SECRET_KEY=your_key

NAME=name_db
USER=your_user
PASSWORD=your_password
HOST=your_host
PORT=your_port

EMAIL_ADMIN=your_admin_email
PASSWORD_ADMIN=your_admin_password


STRIPE_API_KEY=your_key

EMAIL_HOST_USER=your_mail
EMAIL_HOST_PASSWORD=your_password

CELERY_BROKER_URL=your_path
CELERY_RESULT_BACKEND=your_path